@import 'colors';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-padding-top: 82px;
}
body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(83, 83, 83);
}

h2 {
text-align: center;
text-transform: uppercase;
}

.underline {
  width: 60px;
  height: 4px;
  margin: 0 auto 42px; 
  background-color: $main-color;
}

nav {
  text-transform: uppercase;
  z-index: 1;
  transition: .7s;


  .nav-link {
    color: $white-color;
  }
  .nav-link:hover {
    color: $main-color;
  }

  a, i {                      // selector i = fontawesome icons
    color: $white-color;
  }
  a:hover {
    color: $main-color;
  }

  .fa-bars {
    padding: 10px; // enlarging the burger clickable area
  }

  .navbar-brand {
    font-weight: bold;
  }

  .active {
    color: $main-color; // spying - current menu element enlightment
  }
}

.name-segment-small {
  text-transform: none;
}

.name-segment-color {
  color: $main-color;
}

.shadow-bg { // prevent from mixing content and navbar by adding dark bcg
background-color:rgba(0, 0, 0, .9);
}



header {
  color: $white-color;

  h1 {
    text-transform: uppercase;
  }

  .hero-image {
    position: relative;
    height: 100vh;
    background-image: url("/img/header-small.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed; // background sticked
    z-index: 0;
  }

  .hero-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, .7);
    z-index: -10;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
    text-align: center;
    z-index: 10;
  }

  .fa-circle-chevron-down {
    position: absolute;
    left: 50%;
   // transform: translateX(-50%); //fix for centering issue
    font-size: 28px;
    bottom: 20px;
  }
}


.aboutus {
  .aboutus-icon {
    margin-top: 20px;
    font-size: 30px;
  }

  .aboutus-card-tittle {
    font-style: 18px;
    text-transform: uppercase;
  }

  .aboutus-card-text {
    font-size: 14px;
  }

  .aboutus-hover {
    transition: color 0.7s;
  }
  .aboutus-hover:hover {
    color: $main-color;
  }
}

.aboutus-hero {
  position: relative;
  background-image: url("/img/closeup-code-sm.jpg");
  background-position: center;
    background-size: cover;
    color: $text-on-dark;
    z-index: -2;


    .aboutus-shadow {
      position:absolute;
      top: 0; //removing of padding 
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: -5;
    }

   .aboutus-hero-item {
     margin: 10px 0;

     i {
      font-size: 34px;
    }

   .aboutus-hero-title {
     font-size: 24px;
   } 
   } 




}

@media (min-width: 375px) {
  header h1 {
    font-size: 36px;
  }

  p {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  header h1 {
    font-size: 44px;
  }

  p {
font-size: 20px;
  }
}

@media (min-width: 992px) {
  html {
    scroll-padding-top: 72px;
  }
  .aboutus-hero {
    position: relative;
    background-image: url("/img/closeup-code-lg.jpg");
}

@media (min-width: 1200px) {
  header {
    .hero-image {
    background-image: url("/img/header-fhd.jpg");
  }
}
}
